@font-face {
    font-family: 'Inter';
    src: url('assets/inter-webfont.ttf');
}

@keyframes appear {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 100;
    }
}

* {
    font-family: "Inter";
    color: #ffffff;
}

h1 {
    font-family: "Inter";
    font-weight: 700;
    color: #ffffff;
}

p {
    font-size: 12px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

html {
    all: unset;
    display: flex;
    flex-direction: column;

    max-width: 90vw;
    margin-left: 7.5vw;

    background-color: black;

    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

form {
    all: unset;
}

.sectioner {
    display: flex;
    flex-direction: column;

    background-color: #000ea42c;

    margin-top: 5px;
    padding: 10px;
}

.dropDown {
    position: relative;
    height: fit-content;
    width: max-content;
    display: flex;
    flex-direction: row;
}

.dropDown select {
    appearance: none;
    width: 100%;
    height: 100%;

    display: flex;
    font-family: "Inter";
    font-weight: 400;
    color: #cedfff;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    background-color: #003391;
    background-image: #003391;
    appearance: none;
    border-radius: 5px 0px 0px 5px;
    border: none;
    align-items: center;
    justify-content: center;
}

.dropDown::after {
    content: "↓";
    border-radius: 0px 5px 5px 0px;
    color: #cedfff;

    margin: 0;
    margin-left: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #003391;

    display: flex;
    align-self: stretch;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.linkedDocs {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.linkedDocsButton {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

    width: fit-content;
    height: fit-content;

    background-color: #c0b000;
    border-radius: 2px;
}

.startCalculationsButton {
    all: unset;
    position: absolute;

    right: 10px;
    bottom: 10px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;

    width: fit-content;
    height: fit-content;

    background-color: #c0b000;
    border-radius: 5px;
}
